
/* search */
.search{
  width: 100%;
  height: 130px;
}
.search-wrapper{
  width: 1230px;
  margin: 0 auto;
  position: relative;
}
.search-logo{
  position: absolute;
  top: 0;
  left: -30px;
}
.search-container{
  padding-top: 38px;
  text-align: center;
}
.search-form{
  width: 625px;
  margin: 0 auto 0;
  border: 2px solid #ff0036;
  /* text-align: center; */
}
.search-form>input{
  float: left;
  width:483px;
  height: 26px;
  padding: 5px;
  border: none;
  /* input 选中态的样式 */
  outline: none;
}
.search-form>button{
  float: left;
  width: 132px;
  height: 36px;
  border: none;
  color: #fff;
  background: #ff0036;
}

.search-list{
  margin-top: 4px;
}
.search-list>a{
  padding: 0 12px;
  font-size: 14px;
  border-right: 1px solid #ccc;
  color: #999;
}
.search-list>a:last-child{
  border-right: none;
}
.search-list>.search-list-red{
  color: #ff0036;
}
.search-list>a:first-child{
  margin-left: -50px;
}

/* banner */
.banner{
  width: 100%;
  border-bottom: 2px solid #ff0036;
}
.banner-wrapper{
  width: 1230px;
  margin: 0 auto;
}
.banner-wrapper>a{
  float: left;
  height: 35px;
  padding: 0 8px;
  line-height: 35px;
  color: #333;
}
.banner-wrapper>a:hover{
  color: #ff0036;
}
.banner-wrapper img{
  width: 100px;
  margin-top: 3px;
}
.banner-wrapper>a:first-child{
  margin-left: 200px;
}

/* 轮播图 */
.carseoul{
  width: 100%;
}
.carseoul-wrapper{
  width: 1230px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
.menu{
  width: 200px;
  height: 520px;
  background: rgba(0,0,0,0.55);
  position: absolute;
  top: -36px;
  left: 0;
}
.menu-title{
  display: block;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #ff0036;
}
.menu-title>i{
  margin-left: 14px;
}
.menu-list{
  height: 32px;
  padding: 0 14px;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
}
.menu-list:hover{
  background: #fff;
}
.menu-list>a{
  color: #fff;
}
.menu-list-pink:hover,
.menu-list-pink:hover>a{
  color:#e54077;
}
.menu-list-blue:hover,
.menu-list-blue:hover>i,
.menu-list-blue:hover>a{
  color: #427def;
}
.menu-list-purple:hover,
.menu-list-purple:hover>i,
.menu-list-purple:hover>a{
  color: #6347ed;
}
.menu-list-orange:hover,
.menu-list-orange:hover>i,
.menu-list-orange:hover>a{
  color: #fa5c5c;
}
.menu-list-yelllow:hover,
.menu-list-yelllow:hover>i,
.menu-list-yelllow:hover>a{
  color:#f7a831;
}
.menu-list-red:hover,
.menu-list-red:hover>i,
.menu-list-red:hover>a{
  color: #dd2727;
}
.menu-list-green:hover,
.menu-list-green:hover>i,
.menu-list-green:hover>a{
  color: #3bc7b0;
}
.menu-content{
  display: none;
  width: 782px;
  height: 520px;
  background: #fff;
  position: absolute;
  top: 36px;
  left: 200px;
}
.menu-list:hover>.menu-content{
  display: block;
}
.menu-left{
  float: left;
  width: 510px;
  height: 100%;
  margin: 19px 30px;
}
.menu-left-list>span{
  float: left;
  font-size: 14px;
  color: #333;
}
.menu-left-inner{
  float: right;
  width: 418px;
  padding: 5px 0;
  border-bottom: 1px dashed rgba(0,0,0,0.1)
}
.menu-left-inner>a{
  float: left;
  margin-left: 13px;
  font-size: 14px;
  color: #666;
}
.menu-left-inner>.menu-left-pink{
  color:#e54077;
}



.menu-right{
  float: right;
  width: 188px;
  height: 462px;
  padding: 10px;
  background: #fafafa;
}
.menu-right{
  float: left;
  width: 189px;
  height: 462px;
  padding: 10px;
  background: #fafafa;
}
.menu-right a{
  float: left;
  width: 73px;
  height: 37px;
  padding: 5px 10px;
  margin: 0 1px 1px 0;
  background: #fff;
}
.menu-right img{
  width: 73px;
}
