// @import 引入外部文件
@import './common.scss';
@import './reset.scss';

// $定义变量
// $color: #ff0000;
// !default定义默认变量
$color: #ff8907!default;
// 特俗变量
$bg: '../images/1.jpg';
$height_max: 'height';
$width: 200px;

body{
  width: $width;
  color: $color;
}

div{
  #{$height_max}: 200px;
  // #{}
  background: url(#{$bg}) center no-repeat
}

// 选择器嵌套
ul{
  width: 100%;

  li{
    height: 20px;
    a{
      color: #ff0000;

      &:hover{
        color: blue;
      }
    }
  }
}
.clearfix{
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
div{
  // 属性嵌套
  padding: {
    top: 10px;
    left: 20px;
  }
  // padding-top
  // padding-left
  font: {
    size: 20px;
    weight: blod;
  }
  // background: {
  //   image: url();
  //   color: '';
  //   repeat: no-repeat;
  // }
}

//定义混合宏
@mixin border($color:#ddd) {
  border-bottom: 1px solid $color;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
div{
  @include border();
  width: 200px;
  height: 100px;
}

@mixin orangeBtn($width:120px, $height:50px, $font:20px) {
  width: $width;
  height: $height;
  font-size: $font;
  line-height: $height;
  text-align: center;
  color: #fff;
  background: #ff8907;
}
/* 确认按钮 */
.confirm-btn{
  @include orangeBtn(100px, 40px ,16px);
}

.cancel-btn{
  @include orangeBtn()
}

// 继承
.submit-btn{
  @extend .confirm-btn;
  border-radius: 5px;
}

// 注释的写法
// 1. 双斜杠// 编译后不会显示在css文件中
// 2. /* */  编译后会显示在css文件中

// 占位符
%wrapper{
  max-width: 1230px;
  margin: 0 auto;
}
#wrapper{
  @extend %wrapper;
}

#common-btn{
  @include commonBtn();
}

// 自定义方法 @function 定义 @return 返回值
@function addWidth($w1, $w2){
  @return $w1 / $w2;
}
// 自定以方法的调用 方法名()
#container{
  width: addWidth(100%,7);
  height: floor(5.6);

}

// @if 指令 
// @if 判断条件 {设置的属性}
p{
  @if 1+1 == 2 {border: 1px solid red;}
  @if 5 < 3 {border: 2px solid blue;}
}

/* from through */
@for $i from  1 through 3{
  .item-#{$i}{
    width: 100px;
    height: 200px;
  }
}

/* from to */
@for $i from  1 to 3{
  .item-#{$i}{
    width: 100px;
    height: 200px;
  }
}

@each $i in list, age, aaa {
  .item-#{$i}{
    color: #fff;
  }
}