@charset "UTF-8";
body {
  width: 200px;
  color: #ff0000;
}

div {
  height: 200px;
  background: url(../images/1.jpg) center no-repeat;
}

ul {
  width: 100%;
}

ul li {
  height: 20px;
}

ul li a {
  color: #ff0000;
}

ul li a:hover {
  color: blue;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

div {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: blod;
}

/* 确认按钮 */
.confirm-btn, .submit-btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #ff8907;
}

.cancel-btn {
  width: 120px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #ff8907;
}

.submit-btn {
  border-radius: 5px;
}

#wrapper {
  max-width: 1230px;
  margin: 0 auto;
}
