*{
  margin: 0;
  padding: 0;
}

body{
  max-width: 540px;
  margin: 0 auto;
  font-size: 16px;
  background: #EEEEEE;
}

li{
  list-style: none;
}

a{
  text-decoration: underline;
}

input{
  border: none;
  outline: none;
}