*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}

/* nav导航条 */
.nav{
    height: 32px;
    font-size: 12px;
    color: #fff;
    background: #f12f04;
    box-shadow: 0 2px 4px 0 rgba(124, 96, 96, 0.2);
}
.nav-wrapper{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    line-height: 32px;
}
.nav-main{
    float: left;
}
.nav-main span{
    margin-right: 10px;
}
.nav-main>a{
    padding: 0 10px;
    color: #fff;
}
.nav-menu{
    float: right;
}
.nav-menu>.nav-menu-list{
    float: left;
    padding: 0 14px;
    position: relative;
}
.nav-menu>.nav-menu-list-line{
    padding: 0;
}
.nav-menu>.nav-menu-list>a{
    color: #fff;
}
.nav-menu-list-yellow:hover>i,
.nav-menu-list-yellow:hover>a{
    color: yellow;
}
.nav-menu-list-arrow{
    display: inline-block;
    border: 4px solid #bbb;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.nav-menu-list:hover .nav-menu-list-arrow{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.nav-menu-list-special:hover{
    background: #fff;
}
.nav-menu-list-special:hover>a{
    text-decoration: underline;
    color: #ff0036;
}
.nav-menu-inner{
    display: none;
    width: 74px;
    padding: 0 10px;
    border: 1px solid #eee;
    border-top: none;
    background: #fff;
    position: absolute;
    top: 32px;
    left: -1px;
}
.nav-menu-list-special:hover .nav-menu-inner{
    display: block;
}
.nav-menu-inner a{
    padding-bottom: 10px;
    color: #666;
}
.nav-menu-inner li:hover a{
    text-decoration: underline;
    color: #ff0036;
}
.nav-menu-qr{
    display: none;
    width: 175px;
    height: 227px;
    text-align: center;
    position: absolute;
    top: 32px;
    left: -44px;
    z-index: 2;
    box-shadow: 0 0 5px #aaa
}
.nav-menu-qr-bg{
    width: 175px;
    height: 175px;
    background: url('../images/qr.png') 0 0 no-repeat;
}
.nav-menu-qr-arrow{
    display: inline-block;
    border: 6px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -12px;
}
.nav-menu-phone:hover .nav-menu-qr{
    display: block;
}