
/* search */
.search{
  width: 100%;
  height: 130px;
}
.search-wrapper{
  width: 1230px;
  margin: 0 auto;
  position: relative;
}
.search-logo{
  position: absolute;
  top: 0;
  left: -30px;
}
.search-container{
  padding-top: 38px;
  text-align: center;
}
.search-form{
  width: 625px;
  margin: 0 auto 0;
  border: 2px solid #ff0036;
  /* text-align: center; */
}
.search-form>input{
  float: left;
  width:483px;
  height: 26px;
  padding: 5px;
  border: none;
  /* input 选中态的样式 */
  outline: none;
}
.search-form>button{
  float: left;
  width: 132px;
  height: 36px;
  border: none;
  color: #fff;
  background: #ff0036;
}

.search-list{
  margin-top: 4px;
}
.search-list>a{
  padding: 0 12px;
  font-size: 14px;
  border-right: 1px solid #ccc;
  color: #999;
}
.search-list>a:last-child{
  border-right: none;
}
.search-list>.search-list-red{
  color: #ff0036;
}
.search-list>a:first-child{
  margin-left: -50px;
}

/* banner */
.banner{
  width: 100%;
  border-bottom: 2px solid #ff0036;
}
.banner-wrapper{
  width: 1230px;
  margin: 0 auto;
}
.banner-wrapper>a{
  float: left;
  height: 35px;
  padding: 0 8px;
  line-height: 35px;
  color: #333;
}
.banner-wrapper>a:hover{
  color: #ff0036;
}
.banner-wrapper img{
  width: 100px;
  margin-top: 3px;
}
.banner-wrapper>a:first-child{
  margin-left: 200px;
}

/* 轮播图 */
.carseoul{
  width: 100%;
  background: #e5e5e5;
}
.carseoul-wrapper{
  width: 1230px;
  height: 512px;
  margin: 0 auto;
  position: relative;
}
.menu{
  width: 200px;
  height: 520px;
  
  position: absolute;
  top: -36px;
  left: 0;
  z-index: 1;
}
.menu-title{
  display: block;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #ff0036;
}
.menu-title>i{
  margin-left: 14px;
}
.menu-wrapper{
  background: rgba(0,0,0,0.55);
}
.menu-list{
  height: 32px;
  padding: 0 14px;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
}
.menu-list:hover{
  background: #fff;
}
.menu-list>a{
  color: #fff;
}
.menu-list-pink:hover,
.menu-list-pink:hover>a{
  color:#e54077;
}
.menu-list-blue:hover,
.menu-list-blue:hover>i,
.menu-list-blue:hover>a{
  color: #427def;
}
.menu-list-purple:hover,
.menu-list-purple:hover>i,
.menu-list-purple:hover>a{
  color: #6347ed;
}
.menu-list-orange:hover,
.menu-list-orange:hover>i,
.menu-list-orange:hover>a{
  color: #fa5c5c;
}
.menu-list-yelllow:hover,
.menu-list-yelllow:hover>i,
.menu-list-yelllow:hover>a{
  color:#f7a831;
}
.menu-list-red:hover,
.menu-list-red:hover>i,
.menu-list-red:hover>a{
  color: #dd2727;
}
.menu-list-green:hover,
.menu-list-green:hover>i,
.menu-list-green:hover>a{
  color: #3bc7b0;
}
.menu-content{
  display: none;
  width: 782px;
  height: 500px;
  background: #fff;
  position: absolute;
  top: 36px;
  left: 200px;
}
.menu-list:hover>.menu-content{
  display: block;
}
.menu-left{
  float: left;
  height: 100%;
  margin: 19px 30px;
}
.menu-left-list>span{
  float: left;
  font-size: 14px;
  color: #333;
}
.menu-left-inner{
  float: right;
  width: 418px;
  padding: 5px 0;
  border-bottom: 1px dashed rgba(0,0,0,0.1)
}
.menu-left-inner>a{
  float: left;
  margin-left: 13px;
  font-size: 14px;
  color: #666;
}
.menu-left-inner>.menu-left-pink{
  color:#e54077;
}



.menu-right{
  float: right;
  width: 188px;
  height: 462px;
  padding: 10px;
  background: #fafafa;
}
.menu-right{
  float: left;
  width: 189px;
  height: 462px;
  padding: 10px;
  background: #fafafa;
}
.menu-right a{
  float: left;
  width: 73px;
  height: 37px;
  padding: 5px 10px;
  margin: 0 1px 1px 0;
  background: #fff;
}
.menu-right img{
  width: 73px;
}

.swiper{
  width: 100%;
  height: 500px;
  position: relative;
}
.swiper-content{
  width: 100%;
  height: 100%;
}
.swiper-content>img{
  display: none;
  width: 100%;
  height: 100%;
}
.swiper-content>img.active{
  display: block;
}
.pointer{
  height: 5px;
  position: absolute;
  left: 50%;
  bottom: 20px;
}
.pointer>li{
  float: left;
  width: 25px;
  height: 5px;
  margin: 0 5px;
  background: rgba(0,0,0,0.5);
}
.pointer>li.active{
  background: rgba(255,255,255,1);
}

/* container */
#container{
  width: 100%;
  padding-top: 34px;
  background: #f5f5f5;
}

#wrapper{
  width: 1230px;
  margin: 0 auto;
}

#active{
  height: 370px;
}
.active-list{
  float: left;
  width: 485px;
  height: 100%;
  margin-right: 13px;
  overflow: hidden;
}
.active-list:first-child{
  width: 234px;
}
.active-list:last-child{
  margin-right: 0;
}
.active-title{
  height: 55px;
  padding: 0 10px;
  line-height: 55px;
  font-size: 18px;
  color: #333;
  background: #fff;
}
.active-title-en{
  font-size: 14px;
}
.active-list-more{
  float: right;
  height: 100%;
  line-height: 55px;
  /* vertical-align: middle; */
  font-size: 16px;
  color: #666;
}
.active-list-more>img{
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.active-content{
  width: 100%;
  height: 316px;
  overflow: hidden;
}
.active-content:hover{
  opacity: 0.7;
}
.active-content>img{
  width: 100%;
}
#brand{
  margin-top: 15px;
  padding-bottom: 500px;
}
.brand-list{
  float:left;
  width: 122px;
  height: 108px;
  margin: 0 1px 1px 0;
  background: #fff;
  position: relative;
}
.brand-list-img{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 108px;
}
.brand-list-img>img{
  width: 80%;
  vertical-align: middle;
}
.brand-list-cover{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.brand-list-cover:hover{
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.brand-list-cover>span{
  display: block;
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.brand-list-cover>button{
  width: 63px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  border-radius: 9px;
  border: none;
  color: #fff;
  background: #ff0036;
}
