<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="checkbox" v-model="isChecked">选择

    <input type="checkbox" v-model="firut" value="apple"> apple
    <input type="checkbox" v-model="firut" value="banana"> banana
    <input type="checkbox" v-model="firut" value="watermelon"> watermelon
    
  </div>

  <script src="./vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        isChecked: true,
        firut: []
      }
    })
  
  </script>
</body>
</html>