<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-for="item in list">
      <h1>{{item}}</h1>
      <p >{{item}}</p>
    </div>

    <template v-for="item in list">
      <h1>{{item}}</h1>
      <p >{{item}}</p>
    </template>
  </div>

  <script src="./vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        list: [1,2,3,4]
      }
    })
  
  </script>
</body>
</html>