*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/* nav导航条 */
.nav{
    height: 32px;
    font-size: 12px;
    color: #fff;
    background: #f12f04;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.2); 
}
.nav-wrapper{
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    line-height: 32px;
}
.nav-main{
    float: left;
}
.nav-main span{
    margin-right: 10px;
}
.nav-main>a{
    padding: 0 10px;
    color: #fff;
}
.nav-menu{
    float: right;
}
.nav-menu>.nav-menu-list{
    float: left;
    padding: 0 14px;
    position: relative;
}
.nav-menu>.nav-menu-list-line{
    padding: 0;
}
.nav-menu>.nav-menu-list>a{
    color: #fff;
}
.nav-menu-list-yellow:hover>i,
.nav-menu-list-yellow:hover>a{
    color: yellow;
}
.nav-menu-list-arrow{
    display: inline-block;
    border: 4px solid #bbb;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    /* transition: all 0.5 linear; */
}
.nav-menu-list-special:hover{
    color: #ff0036;
    background: #fff;
}
.nav-menu-list-special:hover>a{
    text-decoration: underline;
    color: #ff0036;
}
.nav-menu-list:hover .nav-menu-list-arrow{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-menu-content{
    display: none;
    width: 74px;
    padding: 0 10px;
    border: 1px solid #eee;
    border-top: none;
    position: absolute;
    background: #fff;
    top: 32px;
    left: -1px;
}
.nav-menu-content a{
    color: #666;
}
.nav-menu-content a:hover{
    text-decoration: underline;
    color: #ff0036;
}
.nav-menu-list-special:hover .nav-menu-content{
    display: block;
}

.nav-menu-qr{
    display: none;
    width: 175px;
    height: 227px;
    margin-left: -87px;
    position: absolute;
    top: 32px;
    left: 50%;
    text-align: center;
    box-shadow: 0 0 5px #aaa;
    background: #fff;
}
.nav-menu-ar-arrow{
    display: block;
    width: 0;
    border: 6px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -12px;
    left: 50%;
}
.nav-menu-qr-img{
    width: 175px;
    height: 175px;
    background: url('../images/qr.png') 0 0 no-repeat;
}
.nav-menu-list-phone:hover .nav-menu-qr{
    display: block;
}