/* 顶部广告 */
#ad{
    background: #fab0cd;
}
#ad a{
    display: block;
}
#ad img{
    display: block;
    margin: 0 auto;
}

#search{
    width: 100%;
}

#search-wrapper{
    width: 1230px;
    margin: 0 auto;
}
#search-logo{
    float: left;
}
#search-container{
    float: left;
    width: 625px;
    padding-top: 38px;
}
#search-content{
    height: 36px;
    border: 2px solid #ff0036;
}

#search-content input{
    float: left;
    width: 481px;
    height: 26px;
    padding: 5px;
    line-height: 36px;
    outline: none;
    border: none;
}

#search button{
    float: left;
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #ff0036;
    border: none;
}

#search-menu{
    margin-top: 10px;
}
.search-list{
    float: left;
    padding: 0 12px;
    font-size: 14px;
    border-right: 1px solid #ccc;
}
.search-list:last-child{
    border-right: none;
}
.search-list a{
    color: #999;
}
.search-list-red a{
    color: #ff0036;
}

#type{
    width: 100%;
}
#type-wrapper{
    width: 1230px;
    height: 36px;
    margin: 0 auto;
    line-height: 36px;
}

#type-wrapper a{
    float: left;
    /* display: inline-block; */
    /* height: 100%; */
    padding: 0 8px;
    line-height: 36px;
    color: #333;
}
#type-wrapper img{
    float: left;
    width: 100px;
    margin-top: 3px;
}

