/*CSS Reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
  border: 0;
  /* 表单选中时的样式 */
  outline: 0;
  font-size-adjust: none;
  /*不让iPhone横坚屏切换的时候调节文字*/
  -webkit-text-size-adjust: 100%!important;
  /* 禁止或显示系统默认菜单 */
  -webkit-touch-callout: none;
}
body {
  font-family: "PingFangSC-Regular","Microsoft Yahei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
  /* 不允许选中文本 */
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  /* 当用户点击iOS的Safari浏览器中的链接或JavaScript的可点击的元素时，覆盖显示的高亮颜色
      在移动端上，有事件监听的元素被点击的时候会被高亮显示
  */
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}

button {
  -webkit-appearance: none;
  border: 0;
  background: none;
}

a {
  -webkit-touch-callout: none;
  text-decoration: none;
}

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

em,
i {
  font-style: normal;
}


